.consulting
  p  Jeff brings a unique, deep background to helping parents find the best insights and methods that match their child and family situation.
  p  He works with parents, schools, teachers, childcare providers, and community groups to help them support parents, children and families.
  p  His goal is to make sure that every child will get the best mix of support and challenge that they need to become fulfilled and happy adults.
