<%require "twitter"

client = Twitter::REST::Client.new do |config|
  config.consumer_key        = "0g52aLxcSy8O2YWjJ12dQ"
  config.consumer_secret     = "BFOjonGmzBTQFJGsl76Yj8SzQ08RR3aj7iZyiYQFQiY"
  config.access_token        = "176554524-RSFRZdk15Q3BnyTBfLLTYMJvD4QWHSduWG0okgOa"
  config.access_token_secret = "E72edSlBDzVMQb4ySNyjydsCyCUOSGbHp5DwumwwzYzKS"
end%>

<div id="testimonies">
 <% client.favorites("railscasts", count: 3).each do |tweet| %>
   <blockquote><%= tweet.text %></blockquote>
   <div class="from">&mdash; @<%= tweet.user.screen_name %></div>
 <% end %>
</div>
