//= require jquery.ui.datepicker
//= require_self
//= require_tree .

@import "bootstrap"

.nav, .pagination, .carousel, .panel-title a
  cursor: pointer
body
  padding-top: 1em
  padding-bottom: 20px
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif
  font-weight: 300
  font-style: normal
  font-size: 13px
  line-height: 21px
  color: #777
  background-color: #ecf0f1
.container
  max-width: 1180px
#profile-container
  background-color: white
  border-radius: 3px
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2)
  clear: both
  margin-bottom: 0
  margin-top: 17px
  overflow: hidden
#profile-basic
  padding: 0px

#profile-content
  // box-shadow: inset -5px 0 5px -5px rgba(0,0,0,0.25)
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4)
  height: 100%
  padding: 0px
header
  padding-bottom: 1em
  text-align: right
main
  padding-top: 1em
  min-height: 800px
  padding-right: 42px
aside
  border-bottom: 1px solid #e8e8e8
  padding: 1.5em
.icon
  opacity: .5
  padding-right: 8px
  padding-bottom: 2px
  width: 20px
.icon-link
  opacity: .5
  margin: 1em 1em 1em 0em

ul
  list-style-type: none
h1, h2
  text-align: left
  font-weight: 200
h1
  color: #222
  text-transform: uppercase
  font-weight: 500
  letter-spacing: 1px
  margin-top: 0
  margin-bottom: 21px
  font-family: 'Gotham A', 'Gotham B', sans-serif
  font-size: 21px
h3
  color: #222
  text-transform: uppercase
  font-weight: 500
  letter-spacing: 1px
  margin-top: 0
  margin-bottom: 1em
  font-family: 'Gotham A', 'Gotham B', sans-serif
  font-size: 1em
img.profile-img
  width: 100px
  height: 100px
  margin-left: -16px
img.project-thumbnail
  width: 201px
  height: 158px
  border-radius: 3px 3px 0 0
  -webkit-transition: opacity 0.15s linear
  -moz-transition: opacity 0.15s linear
  transition: opacity 0.15s linear
.profile
  padding: 1.5em
.role
  padding-top: 1em
  font-weight: 600
.contact
  clear: both
  padding-top: 1em
  a
    margin-right: 2em
    min-width: 140px
  .message
    background-color: rgba(46, 204, 113, .2)
menu
  border-bottom: 1px solid lightgray
  text-align: center

.form-control:focus
  border-color: #999
  outline: 0
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153, 153, 153, .6)
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153, 153, 153, .6)
.btn-main-menu
  text-align: center
  border-radius: 0px
  margin-right: 2em
  padding-bottom: 1em
  color: rgb(111, 111, 111)
  &:hover
    border-bottom: 1px solid rgba(43, 43, 43, 1)
.btn-share
  min-width: 140px

.talks
  padding-left: 0px
  li
    padding-bottom: 4px


