//= require jquery.ui.datepicker
//= require_self
//= require_tree .



@iconSpritePath: asset-path('twitter/bootstrap/glyphicons-halflings.png')
@iconWhiteSpritePath: asset-path('twitter/bootstrap/glyphicons-halflings-white.png')
@import "bootstrap"
body
  padding-top: 1em
  padding-bottom: 20px
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif
  font-weight: 300
  font-style: normal
  font-size: 13px
  line-height: 21px
  color: #777
  background-color: #ecf0f1
.container
  max-width: 1180px
#profile-container
  background-color: white
  border-radius: 3px
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2)
  clear: both
  margin-bottom: 0
  margin-top: 17px
  overflow: hidden
#profile-basic

#profile-content
  // box-shadow: inset -5px 0 5px -5px rgba(0,0,0,0.25)
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4)
  height: 100%
  padding: 0px
main
  padding-top: 1em
  min-height: 800px
  padding-right: 42px

ul
  list-style-type: none
h1, h2
  text-align: left
h1
  color: #222
  text-transform: uppercase
  font-weight: 500
  letter-spacing: 1px
  margin-top: 0
  margin-bottom: 21px
  font-family: 'Gotham A', 'Gotham B', sans-serif
  font-size: 21px
img.profile-img
  width: 100px
  height: 100px
img.project-thumbnail
  width: 201px
  height: 158px
  border-radius: 3px 3px 0 0
  -webkit-transition: opacity 0.15s linear
  -moz-transition: opacity 0.15s linear
  transition: opacity 0.15s linear
.contact
  clear: both
menu
  border-bottom: 1px solid lightgray
  text-align: center

.form-control:focus
  border-color: #999
  outline: 0
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153, 153, 153, .6)
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153, 153, 153, .6)
.btn-main-menu
  text-align: center
  border-radius: 0px
  margin-right: 2em
  padding-bottom: 1em
  color: rgb(111, 111, 111)
  &:hover
    border-bottom: 1px solid rgba(43, 43, 43, 1)

.talks
  padding-left: 0px
  li
    padding-bottom: 4px


